<h2>Update Form</h2>
<div class="container">
  <div>
    <fieldset class="form-group">
      <label>First Name</label>
      <input type="text" [(ngModel)]="customer.firstName" class="form-control" name="firstName" required="required">
    </fieldset>

    <fieldset class="form-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="customer.lastName" class="form-control" name="lastName"
             required="required">
    </fieldset>

    <fieldset class="form-group">
      <label>Salary</label>
      <input type="text" [(ngModel)]="customer.salary" class="form-control" name="salary" required="required">
    </fieldset>
    <button type="submit" class="btn btn-success" (click)="handleSave()">Save</button>

  </div>
</div>
