@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

body {
    padding: 100px;
    font-family: arial;
}

label {
    margin: 0 0 5px;
    display: inline-block;
}

input[type="submit"] {
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 7px;
}
